name: build-and-push

on:
  push:
    branches: ["main"]
  pull_request:

permissions:
  contents: read
  packages: read

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: docker/setup-buildx-action@v3

      - uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - uses: docker/metadata-action@v5
        id: meta
        with:
          images: ghcr.io/${{ github.repository_owner }}/argos-resource-service
          tags: |
            type=ref,event=branch
            type=sha

      - uses: docker/build-push-action@v6
        with:
          context: .
          file: resource-bootstrap/Dockerfile
          push: ${{ github.event_name != 'pull_request' }}
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
          secrets: |
            gh_user=${{ github.actor }}
            gh_token=${{ secrets.GITHUB_TOKEN }}
